<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Товары</title>
</head>
<body>
    <div id="products">
        <ul>
        {% for i in products %}
        <div id="product">
            {% if i.img.url %}
            <img src="{{ i.img.url }}">
            {% else %}
            <img src="/market/app/images/products/default.jpg">
            {% endif %}
            <details>
                <summary>О товаре</summary>
                <p>Количество:</p><p>{{ i.quantity }}</p>
                {{ i.text }}
                <p>Теги:</p><p>{{ i.tags }}</p>
                <form method="post" action="/buy_goods">
                    {% csrf_token %}
                    <button id="buy_button" type="submit">Купить</button>
                </form>
                <form method="post" action="/basket_goods" onsubmit="alert('+ в корзину!')">
                    {% csrf_token %}
                    <button id="basket_button" type="submit" value="{{ i.id }}" name="id_basket">В корзину</button>
                </form>
            </details>
            {{ i.data }}
        </div>
        {% endfor %}
        </ul>
    </div>
</body>
</html>