<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <title>Главная страница</title>
</head>
<body>
    <div id="panel">
        <a href="/goods">Товары</a>
        <a href="/basket">Корзина</a>
        <a href="/company">О нас</a>
        <a href="/user" id="profile">{{ user }}</a>
    </div>
    <div id="products">
        <ul>
        {% for i in products %}
        <div id="product">
            <img src="{{ i.img.url }}">
            <details>
                <summary>О товаре</summary>
                {{ i.text }}
            </details>
            {{ i.data }}
        </div>
        {% endfor %}
        </ul>
    </div>
</body>
</html>