<!DOCTYPE html>
{% load static %}  
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'profile.css' %}" />
</head>
<body>
    <div id="profile">
    <img src="{{ profile.img.url }}">
    <p>Name: {{ user }}</p>
    <p>Id: {{ profile.id }}</p>
    <p>Email: {{ profile.email }}</p>
    <form action="/delete_profile" method="post">
        {% csrf_token %}
        <button type="submit">Удалить</button>
    </form>

    <form action="/exit_profile" method="post">
        {% csrf_token %}
        <button type="submit">Выйти</button>
    </form>
    </div>
</body>
</html>