<!DOCTYPE html>
{% load static %}  
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'profile.css' %}" />
</head>
<body>
    <a href="/main"><button id="return">Назад</button></a>
    <div id="profile">
    {% if profile.avatar %}
    <img src="{{ profile.avatar.url }}">
    {% else %}
    <!-- Если файла нет, показываем дефолтную картинку из static или ссылку -->
    <img src="/market/app/images/avatars/default.jpg">
    {% endif %}
    <p>Name: {{ user }}</p>
    <p>Id: {{ profile.id }}</p>
    <p>Email: {{ profile.email }}</p>
    <form action="/delete_profile" method="post">
        {% csrf_token %}
        <button type="submit">Удалить</button>
    </form>

    <form action="/exit_profile" method="post">
        {% csrf_token %}
        <button type="submit">Выйти</button>
    </form>
    </div>
</body>
</html>