<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'auth.css' %}" />
    <title>Пользователь</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit", value="Отправить">
    <a id="auth" href="/auth">Войти</a>
    </form>
</body>
</html>